# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

In [68]:
import pandas as pd
import numpy as np

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [69]:
df_projeto_bra = pd.read_csv('athlete_events.csv')
df_projeto_bra.query("NOC=='BRA'", inplace=True)

In [70]:
df_projeto_bra.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [71]:
df_medalhistas_bra = df_projeto_bra.dropna(subset=['Medal'])
df_medalhistas_bra.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [72]:
df_medalhistas_bra.groupby(by=['Season','Medal']).size()

Season  Medal
Summer  Bronze    191
        Gold      109
        Silver    175
dtype: int64

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [73]:
# primeira maneira de dropar os dados das Olimpiadas de Inverno
df_idx = df_medalhistas_bra[df_medalhistas_bra['Season']=='Winter'].index
df_teste_final = df_medalhistas_bra.drop(df_idx)

In [74]:
df_teste_final.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver

In [75]:
# segunda maneira de dropar os dados das Olimpiadas de Inverno
df_projeto_bra.query("Season=='Summer'", inplace=True)
df_projeto_bra.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [76]:
# altura e peso médio de nossos medalhistas
df_medalhistas_bra[['Height', 'Weight']].mean()

Height    182.494530
Weight     76.706935
dtype: float64

In [77]:
# valores médios por esporte.
df_medalhistas_groupby = df_medalhistas_bra.groupby(by=['Sport'])[['Height', 'Weight']].mean()
df_medalhistas_groupby.head(2)

                Height     Weight
Sport
Athletics   181.000000  74.576923
Basketball  185.607843  78.478261

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [78]:
df_geral_groupby = df_projeto_bra.groupby(by=['Sport'])[['Height', 'Weight']].mean()
df_geral_groupby.head(2)

                  Height  Weight
Sport
Archery            172.6    71.7
Art Competitions     NaN     NaN

In [79]:
df_comparacao = pd.concat([df_medalhistas_groupby, df_geral_groupby], axis=1)
df_comparacao.head(2)
# Atletas medalhistas de BasketBall são mais baixos e mais leves que os atletas não medalhistas.
# Atletas medalhistas de Natação e Taekkwondo são consideravelmente mais altos e mais pesados que atletas não medalhistas.

                Height     Weight      Height     Weight
Sport
Athletics   181.000000  74.576923  176.203463  67.795045
Basketball  185.607843  78.478261  190.911894  85.900474

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [80]:
df_geral_groupby = df_projeto_bra.groupby(by=['Sex'])[['Height', 'Weight']].mean()
df_geral_groupby

         Height     Weight
Sex
F    169.037771  60.802481
M    181.710993  78.404785

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [81]:
df_geral_groupby = df_medalhistas_bra.groupby(by=['Name'])['Medal'].count()
df_maiores_medalhistas_bra = df_geral_groupby.sort_values(ascending=False)
df_maiores_medalhistas_bra

Name
Robert Scheidt                            5
Torben Schmidt Grael                      5
Gustavo Frana Borges                      4
Srgio "Escadinha" Dutra dos Santos        4
Rodrigo "Rodrigo" Santana                 3
                                         ..
Helen Cristina Santos Luz                 1
Hamilton "Careca" de Souza                1
Grazielle Pinheiro Guimares Nascimento    1
Givanildo "Hulk" Vieira de Souza          1
rika Kelly "Kiki" Pereira Coimbra         1
Name: Medal, Length: 360, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [82]:
# apenas medalhistas de ouro
df_gold = df_medalhistas_bra.loc[df_medalhistas_bra['Medal']=='Gold']
df_gold.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
4825,2758,Alison Conte Cerutti,M,30.0,203.0,106.0,Brazil-1,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Gold

In [83]:
df_gold_total = df_gold.groupby(by=['Name', 'Sport','NOC'])['Medal'].count()
df_medalhista_ouro__bra = df_gold_total.sort_values(ascending=False).reset_index().head(13)
df_medalhista_ouro__bra

                                                 Name       Sport  NOC  Medal
0                    Fabiana "Fabi" Alvim de Oliveira  Volleyball  BRA      2
1                                Torben Schmidt Grael     Sailing  BRA      2
2                          Fabiana Marcelino Claudino  Volleyball  BRA      2
3                              Giovane Farinazzo Gvio  Volleyball  BRA      2
4                        Paula Renata Marques Pequeno  Volleyball  BRA      2
5                 Sheilla Tavares de Castro Blassioli  Volleyball  BRA      2
6                  Srgio "Escadinha" Dutra dos Santos  Volleyball  BRA      2
7                                      Robert Scheidt     Sailing  BRA      2
8                              Thasa Daher de Menezes  Volleyball  BRA      2
9   Jaqueline Maria "Jaque" Pereira de Carvalho En...  Volleyball  BRA      2
10                            Marcelo Bastos Ferreira     Sailing  BRA      2
11                               Maurcio Camargo Lima  Volleyball  BRA      2
12                          Adhemar Ferreira da Silva   Athletics  BRA      2

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [84]:
df_noduplicates_gold = df_gold.drop_duplicates(subset=['Sport','Event', 'Year'])

In [85]:
# excluindo os dados duplicados (nomes dos atletas) para considerar apenas uma medalha por modalidade/ano da competição 
df_qtde_medalhas_por_esporte = df_noduplicates_gold.groupby(by=['Sport'])['Medal'].count().sort_values(ascending=False).reset_index()
df_qtde_medalhas_por_esporte.head(5)

              Sport  Medal
0           Sailing      7
1         Athletics      5
2        Volleyball      5
3              Judo      4
4  Beach Volleyball      3

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [114]:
df_modalidade_gold = df_noduplicates_gold.groupby(by=['Event'])['Medal'].count()
df_modalidade_gold.sort_values(ascending=False).head(4)

Event
Volleyball Men's Volleyball                3
Volleyball Women's Volleyball              2
Athletics Men's Triple Jump                2
Beach Volleyball Men's Beach Volleyball    2
Name: Medal, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [87]:
# excluindo as medalhas em duplicidade, para considerar apenas uma por evento e não uma por atleta
df_noduplicates_geral = df_medalhistas_bra.drop_duplicates(subset=['Event', 'Year'])

In [88]:
df_medalhas = df_noduplicates_geral.groupby(by=['Year','Medal']).size()
df_medalhas.head(2)

Year  Medal
1920  Bronze    1
      Gold      1
dtype: int64

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [89]:
df_projeto_mundo = pd.read_csv('athlete_events.csv')

In [90]:
df_projeto_mundo.query("Season=='Summer'", inplace=True)

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [91]:
df_esportes = df_projeto_mundo.drop_duplicates(subset=['Sport'])
df_esportes['Sport'].head(4)

0    Basketball
1          Judo
2      Football
3    Tug-Of-War
Name: Sport, dtype: object

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [92]:
df_modalidades = df_projeto_mundo.drop_duplicates(subset=['Event'])
df_modalidades['Event']

0                               Basketball Men's Basketball
1                              Judo Men's Extra-Lightweight
2                                   Football Men's Football
3                               Tug-Of-War Men's Tug-Of-War
26                             Athletics Women's 100 metres
                                ...
128473      Weightlifting Men's All-Around Dumbbell Contest
186911                 Archery Men's Au Chapelet, 33 metres
186912              Archery Men's Au Cordon Dore, 33 metres
194996    Archery Men's Target Archery, 28 metres, Indiv...
214105                        Aeronautics Mixed Aeronautics
Name: Event, Length: 651, dtype: object

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [93]:
df_paises = df_projeto_mundo.drop_duplicates(subset=['NOC'])
df_paises['NOC']

0        CHN
2        DEN
26       NED
29       FIN
79       NOR
        ...
66213    TGA
71806    NFL
80081    KOS
91746    SSD
96572    LES
Name: NOC, Length: 230, dtype: object

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [94]:
df_maior_medalhista = df_projeto_mundo.groupby(by=['Name'])['Medal'].count().sort_values(ascending=False)
df_maior_medalhista

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Edoardo Mangiarotti                   13
Borys Anfiyanovych Shakhlin           13
                                      ..
Huang Shaohua                          0
Huang Qiuyan                           0
Huang Qiushuang                        0
Huang Qijiang                          0
zzet nce                               0
Name: Medal, Length: 116122, dtype: int64

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [95]:
# separando apenas os medalhistas de ouro em um df
df_gold_mundo = df_projeto_mundo.loc[df_projeto_mundo['Medal']=='Gold']
df_gold_mundo.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold

In [96]:
df_maior_medalhista_ouro = df_gold_mundo.groupby(by=['Name', 'Sport','NOC'])['Medal'].count().sort_values(ascending=False)
df_maior_medalhista_ouro = df_maior_medalhista_ouro.reset_index()

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [97]:
df_geral_ouro_nonduplicates = df_gold_mundo.drop_duplicates(subset=['Event', 'Year'])
df_ouro_geral = df_geral_ouro_nonduplicates.groupby(by=['NOC','Medal']).size()
df_ouro_geral.sort_values(ascending=False).reset_index().head(1)

   NOC Medal     0
0  USA  Gold  1028

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [98]:
# excluindo dados NA da coluna 'Medal'
df_dropna_mundo = df_projeto_mundo.dropna(subset=['Medal'])

In [99]:
# excluindo dados em duplicidade considerando eventos, ano e medalha 
df_duplicates_mundo = df_dropna_mundo.drop_duplicates(subset=['Event', 'Year', 'Medal'])

In [100]:
# organizando por pais e total de medalhas após os filtros de duplicidade e NA
df_pais_com_mais_medalhas = df_duplicates_mundo.groupby(by=['NOC'])['Medal'].count()
df_pais_com_mais_medalhas.sort_values(ascending=False)

NOC
USA    2502
URS     966
GBR     863
GER     745
FRA     740
       ...
MKD       1
MNE       1
MON       1
PAR       1
KGZ       1
Name: Medal, Length: 145, dtype: int64

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

In [101]:
df_total_medalhas = df_duplicates_mundo.groupby(by=['Year','Medal']).size()
df_total_medalhas

Year  Medal
1896  Bronze     32
      Gold       43
      Silver     41
1900  Bronze     80
      Gold       89
               ...
2012  Gold      302
      Silver    302
2016  Bronze    305
      Gold      306
      Silver    304
Length: 87, dtype: int64

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

In [102]:
df_ranking = df_projeto_mundo.dropna(subset=['Medal'])
df_ranking = df_ranking.drop_duplicates(subset=['ID', 'Event', 'Year'])
df_ranking = df_ranking.groupby(by=['Year', 'NOC', 'Medal']).size().unstack('Medal').reset_index()
df_ranking.fillna(0, inplace=True)
df_ranking = df_ranking.astype({'Bronze': int, 'Gold': int, 'Silver': int}).sort_values(by=['Year', 'Gold', 'Silver', 'Bronze'], ascending=[True, False, False, False])
df_ranking['ranking'] = df_ranking.groupby(by='Year').cumcount()+1
df_ranking

Medal  Year  NOC  Bronze  Gold  Silver  ranking
5      1896  GER       2    25       5        1
9      1896  USA       2    11       7        2
6      1896  GRE      20    10      18        3
3      1896  FRA       2     5       4        4
4      1896  GBR       3     3       3        5
...     ...  ...     ...   ...     ...      ...
1216   2016  FIN       1     0       0       82
1239   2016  MAR       1     0       0       83
1250   2016  POR       1     0       0       84
1266   2016  TTO       1     0       0       85
1269   2016  UAE       1     0       0       86

[1275 rows x 6 columns]

In [103]:
df_brasil_vs_mundo = pd.read_csv('athlete_events.csv')

In [104]:
df_brasil_vs_mundo.dropna(subset=['Medal'], inplace=True)

In [105]:
df_bra_noduplicate = df_brasil_vs_mundo.drop_duplicates(subset=['Year', 'Event', 'Medal', 'Name'])
df_bra_noduplicate.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze

In [106]:
df_ranking_gold = df_bra_noduplicate[df_bra_noduplicate['Medal']=='Gold']
df_ranking_gold.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold

In [107]:
df_ranking = df_ranking_gold.groupby(by=['NOC'])['Medal'].count()
df_ranking_ordenado = df_ranking.sort_values(ascending=False)
df_ranking_final = df_ranking_ordenado.reset_index()
df_ranking_final[df_ranking_final['NOC']=='USA']

   NOC  Medal
0  USA   2638

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

In [108]:
df_maior_medalhista_ouro_bra = df_medalhista_ouro__bra.head()
df_maior_medalhista_ouro_mundo = df_maior_medalhista_ouro
df_ouro_bra_mundo = pd.concat([df_maior_medalhista_ouro_bra, df_maior_medalhista_ouro.head(1)])
df_ouro_bra_mundo.reset_index()

   index                              Name       Sport  NOC  Medal
0      0  Fabiana "Fabi" Alvim de Oliveira  Volleyball  BRA      2
1      1              Torben Schmidt Grael     Sailing  BRA      2
2      2        Fabiana Marcelino Claudino  Volleyball  BRA      2
3      3            Giovane Farinazzo Gvio  Volleyball  BRA      2
4      4      Paula Renata Marques Pequeno  Volleyball  BRA      2
5      0           Michael Fred Phelps, II    Swimming  USA     23

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [109]:
df_maior_medalhista_mundo = df_maior_medalhista.sort_values(ascending=False).head(1)
df_maior_medalhista_bra = df_maiores_medalhistas_bra.sort_values(ascending=False).head(1)
df_maiores_medalhistas_bra_mundo = pd.concat([df_maior_medalhista_bra, df_maior_medalhista_mundo]).reset_index()
df_maiores_medalhistas_bra_mundo

                      Name  Medal
0           Robert Scheidt      5
1  Michael Fred Phelps, II     28

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

In [110]:
df_medalhista_ouro__bra

                                                 Name       Sport  NOC  Medal
0                    Fabiana "Fabi" Alvim de Oliveira  Volleyball  BRA      2
1                                Torben Schmidt Grael     Sailing  BRA      2
2                          Fabiana Marcelino Claudino  Volleyball  BRA      2
3                              Giovane Farinazzo Gvio  Volleyball  BRA      2
4                        Paula Renata Marques Pequeno  Volleyball  BRA      2
5                 Sheilla Tavares de Castro Blassioli  Volleyball  BRA      2
6                  Srgio "Escadinha" Dutra dos Santos  Volleyball  BRA      2
7                                      Robert Scheidt     Sailing  BRA      2
8                              Thasa Daher de Menezes  Volleyball  BRA      2
9   Jaqueline Maria "Jaque" Pereira de Carvalho En...  Volleyball  BRA      2
10                            Marcelo Bastos Ferreira     Sailing  BRA      2
11                               Maurcio Camargo Lima  Volleyball  BRA      2
12                          Adhemar Ferreira da Silva   Athletics  BRA      2

In [116]:
df_maior_medalhista = df_projeto_mundo.groupby(by=['Name', 'Sport','NOC'])['Medal'].count().sort_values(ascending=False).reset_index()

In [118]:
df_maior_medalhista_volleyball = df_maior_medalhista.loc[df_maior_medalhista['Sport']=='Volleyball'].head(1)
df_maior_medalhista_volleyball

                           Name       Sport  NOC  Medal
363  Sergey Yuryevich Tetyukhin  Volleyball  RUS      4